<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>费用记录</title>
    <link rel="shortcut icon" th:href="@{/img/favicon.ico}">
    <link rel="stylesheet" th:href="@{/js/appjs/lib/weui.min.css}">
    <link rel="stylesheet" th:href="@{/js/appjs/lib/jquery-weui.min.css}">
    <link rel="stylesheet" th:href="@{/css/public.css}">
    <link rel="stylesheet" th:href="@{/css/department.css}">
</head>
<body ontouchstart>

<header class='demos-header'>
    <h1 class="demos-title">费用记录</h1>
</header>
<div class="weui-form-preview">

</div>


<div class="weui-msg" style="display: none" id="msg">
    <div class="weui-msg__icon-area"><i class="weui-icon-success weui-icon_msg"></i></div>
    <div class="weui-msg__text-area">
        <h2 class="weui-msg__title">暂无数据</h2>
        <p class="weui-msg__desc"></p>
    </div>
    <div class="weui-msg__opr-area">
        <p class="weui-btn-area">
            <a href="javascript:history.go(-1);" class="weui-btn weui-btn_default">返回</a>
        </p>
    </div>
    <div class='demos-content-padded'>
        <div class="weui-footer">
            <p class="weui-footer__text">Copyright © 2020-2030 蠡县医院</p>
        </div>
    </div>
</div>

<script th:src="@{/js/appjs/lib/jquery-2.1.4.js}"></script>
<script th:src="@{/js/appjs/js/jquery-weui.min.js}"></script>
<script th:src="@{/js/appjs/lib/fastclick.js}"></script>
<script th:src="@{/js/appjs/md5.js}"></script>
<script th:src="@{/js/appjs/layer_mobile/layer.js}"></script>
<script th:src="@{/js/appjs/public.js}"></script>
<script>
    //var api_url = 'http://jdm.vipgz2.idcfengye.com';
    var api_url = '//lxyy.bdlxyy.cn';

    var accountid = 'wxgzh', pass = 'wxgzh@dmin', key = '88bd2fdc-388c-45bb-9654-2ffb808ef3d7';
    $(function () {
        FastClick.attach(document.body);
        $.showLoading();
        var timeStamp = parseInt(new Date().getTime() / 1000);
        var sign = hex_md5(accountid + pass + key + timeStamp);
        var postData = {
                "sign": sign,
                "accountid": 1,
                "timeStamp":timeStamp,
                "method": 2
            };
        $.ajax({
        	url:api_url+'/hospital/person/service.do',
            data: JSON.stringify(postData),
            contentType: "application/json;charset=utf-8",//这个参数也是header参数
            type: 'POST',
            dataType: 'json',
            success: function (data) {
                $.hideLoading();
                if (data.code == 0) {
                    if(data.data.length <=0){
                        $(".jqm-demos").hide();
                        $(".weui-msg__title").html("暂无数据");
                        $("#msg").show();
                        return;
                    }
                    var html = '';
                    
                    for (var i in data.data){
                    		
                            html += 
                            	'<div class="weui-form-preview__bd">\n' +
                            	'\t\t<div class="weui-form-preview__item">\n' +
                                '\t\t\t<label class="weui-form-preview__label">序号</label>\n' +
                                '\t\t\t<span class="weui-form-preview__value">' + data.data[i].num + '</span>\n' +
                                '\t\t</div>\n' +
                                '\t\t<div class="weui-form-preview__item">\n' +
                                '\t\t\t<label class="weui-form-preview__label">姓名</label>\n' +
                                '\t\t\t<span class="weui-form-preview__value">' + data.data[i].name + '</span>\n' +
                                '\t\t</div>\n' +
                                '\t\t<div class="weui-form-preview__item">\n' +
                                '\t\t\t<label class="weui-form-preview__label">卡号</label>\n' +
                                '\t\t\t<span class="weui-form-preview__value">'+ data.data[i].cardNo +'</span>\n' +
                                '\t\t</div>\n' +
                                '\t\t<div class="weui-form-preview__item">\n' +
                                '\t\t\t<label class="weui-form-preview__label">身份证号</label>\n' +
                                '\t\t\t<span class="weui-form-preview__value">' + data.data[i].idCardNo +'</span>\n' +
                                '\t\t</div>\n' +
                                '\t\t<div class="weui-form-preview__item">\n' +
                                '\t\t\t<label class="weui-form-preview__label">类型</label>\n' +
                                '\t\t\t<span class="weui-form-preview__value">' + data.data[i].bType +'</span>\n' +
                                '\t\t</div>\n' +
                                '\t\t<div class="weui-form-preview__item">\n' +
                                '\t\t\t<label class="weui-form-preview__label">订单号</label>\n' +
                                '\t\t\t<span class="weui-form-preview__value">' + data.data[i].orderCode +'</span>\n' +
                                '\t\t</div>\n' +
                                '\t\t<div class="weui-form-preview__item">\n' +
                                '\t\t\t<label class="weui-form-preview__label">金额</label>\n' +
                                '\t\t\t<span class="weui-form-preview__value">' + data.data[i].amount +'</span>\n' +
                                '\t\t</div>\n' +
                                '\t\t<div class="weui-form-preview__item">\n' +
                                '\t\t\t<label class="weui-form-preview__label">描述</label>\n' +
                                '\t\t\t<span class="weui-form-preview__value">'+ data.data[i].msg +'</span>\n' +
                                '\t\t</div>\n' +
                                '\t\t<div class="weui-form-preview__item">\n' +
                                '\t\t\t<label class="weui-form-preview__label">时间</label>\n' +
                                '\t\t\t<span class="weui-form-preview__value">'+ data.data[i].createTime +'</span>\n' +
                                '\t\t</div>\n' +
                                '\t</div><hr/>';
                        }
                    $(".weui-form-preview").html(html);
                } else {
                    layer.open({
                        content: data.msg
                        , skin: 'msg'
                        , time: 2 //2秒后自动关闭
                    });
                }
            },
            error: function (error) {
                console.log(error);
            }
        })
    })
</script>
</body>
</html>