<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>科室介绍</title>
	<link rel="shortcut icon" th:href="@{/img/favicon.ico}">
	<link rel="stylesheet" th:href="@{/js/appjs/lib/weui.min.css}">
	<link rel="stylesheet" th:href="@{/js/appjs/lib/jquery-weui.min.css}">
	<link rel="stylesheet" th:href="@{/css/public.css}">
</head>
<body ontouchstart>
<article class="weui-article">
	<h1>科室介绍</h1>
</article>


<div class='demos-content-padded'>
	<div class="weui-footer">
		<p class="weui-footer__text">Copyright © 2020-2030 蠡县医院</p>
	</div>
</div>

<script th:src="@{/js/appjs/lib/jquery-2.1.4.js}"></script>
<script th:src="@{/js/appjs/js/jquery-weui.min.js}"></script>
<script th:src="@{/js/appjs/lib/fastclick.js}"></script>
<script th:src="@{/js/appjs/md5.js}"></script>
<script th:src="@{/js/appjs/layer_mobile/layer.js}"></script>
<script th:src="@{/js/appjs/public.js}"></script>
<script>
	$(function () {
		FastClick.attach(document.body);
	});
</script>
</body>
</html>