<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>蠡县医院</title>
	<link rel="shortcut icon" th:href="@{/img/favicon.ico}">
	<link rel="stylesheet" th:href="@{/js/appjs/lib/weui.min.css}">
	<link rel="stylesheet" th:href="@{/js/appjs/lib/jquery-weui.min.css}">
	<link rel="stylesheet" th:href="@{/css/public.css}">
	<link rel="stylesheet" th:href="@{/css/news_detail.css}">
</head>
<body ontouchstart>

<article class="weui-article">
	<h1 id="activity-name"></h1>
	<ul class="weui-media-box__info">
		<li class="weui-media-box__info__meta" id="js_name"></li>
		<li class="weui-media-box__info__meta" id="js_time"></li>
		<li class="weui-media-box__info__meta weui-media-box__info__meta_extra" id="js_num"></li>
	</ul>
	<div class="rich_media_content " id="js_content" style="visibility: visible;">

	</div>
</article>

<div class='demos-content-padded'>
	<div class="weui-footer">
		<p class="weui-footer__text">Copyright © 2020-2030 蠡县医院</p>
	</div>
</div>
	<script th:src="@{/js/appjs/lib/jquery-2.1.4.js}"></script>
	<script th:src="@{/js/appjs/js/jquery-weui.min.js}"></script>
	<script th:src="@{/js/appjs/lib/fastclick.js}"></script>
	<script th:src="@{/js/appjs/swiper.min.js?v=1.0}"></script>
	<script th:src="@{/js/appjs/public.js}"></script>
	<script th:src="@{/js/appjs/md5.js}"></script>
	<script th:src="@{/js/appjs/layer_mobile/layer.js}"></script>
	<script>
    //var api_url = 'http://jdm.vipgz2.idcfengye.com';
    var api_url = '//lxyy.bdlxyy.cn';
    var accountid = 'wxgzh',pass = 'wxgzh@dmin',key = '88bd2fdc-388c-45bb-9654-2ffb808ef3d7';
    
    var cid = decodeURI(getQueryVariable("cid"));//
    
    $(function(){
		FastClick.attach(document.body);
		$.showLoading();
        var timeStamp = parseInt(new Date().getTime()/1000);
        var sign = hex_md5(accountid+pass+key+timeStamp);
        var postData = {
            "sign": sign,
            "accountid": 1,
            "timeStamp":timeStamp,
            "method": 8,
            "cid":cid
        };
        $.ajax({
            url:api_url+'/common/service.do',
            data:JSON.stringify(postData),
            contentType: "application/json;charset=utf-8",//这个参数也是header参数
            type:'POST',
            dataType:'json',
            success:function (data) {
                $.hideLoading();
                if(data.code == 0){
					$("#activity-name").html(data.data.title);
					$("#js_name").html(data.data.author);
					$("#js_time").html(data.data.creatTime.substring(0, 10));
					$("#js_num").html(data.data.browse_num);
					$("#js_content").html(data.data.content);
                }else{
                    layer.open({
                        content: '获取数据失败!'
                        ,skin: 'msg'
                        ,time: 2 //2秒后自动关闭
                    });
                }
            },
            error:function (error) {
                console.log(error);
            }
        })
    })
</script>
</body>
</html>